@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

/* Head and logo style.*/

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;

}

#logo {
    margin-left: 20px;
    float: left;
    font-size: 280%;
}

/* Nav links */

#menu {
    float: right;
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}
#menu li {
    list-style-type: none;
    margin-right: 30px;
    display: inline-block;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

 /* Hero image style*/

 #hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
 }
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
     /* animates zoom effect on loading page */
     animation-name: hero-zoom;
     animation-duration: 5s;
     animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* MEKS Section style*/

#meks-thics {
    height: 600px;
    width: 100%;
    background: url('../images/nav-bacground.jpg');
}

#ethics-section-heading {
    margin-top: 10px;
    text-align: center;
    color: white;
    background-color: rgb(134, 139, 125);
    margin-bottom: 1%;
   
}

.ethos-heading, .ethos-paragraphs {
    text-align: center;
    margin-left: 2%;
    padding-left: 2%;
    padding-right: 1%;
    padding-top: 1%;
    line-height: 25px;
    
}

#left-about {

    float: left;
    width: 32%;
    height: 90%;
    background-color: rgba(230, 239, 237, 0.5);
    border-radius: 5%;
    margin-left: 8px;
    
}

#right-about {

    float: right;
    width: 32%;
    height: 90%;
    background-color: rgba(230, 239, 237, 0.5);
    border-radius: 5%;
    margin-right: 8px;

}

#center-about {

    margin: 0 auto;
    width: 32%;
    height: 90%;
    background-color: rgba(230, 239, 237, 0.5);
    border-radius: 5%;
    
}

/* Social media links*/

footer {
    height: 150px;
    
}

.social-networks {
    text-align: center;
    background-color: rgba(237, 237, 232, 0.961);
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 5%;
    padding: 5%;
    color: #3a3a3a;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
}


/* --------- Global style */
/*
body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}
*/

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

/* Mathematics Page */

/* --------- Game layout */

#game-area-bg {
    width: 100%;
    height: 600px;
    


}

.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
   
}

.question-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

.question-area span {
    padding: 0 15px;
}

.score-area {
    margin: 5px auto;
    width: 45%;
    font-size: 1.2rem;
}

.controls-area {
    width: 85%;
    margin: 30px auto;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}

#answer-box {
    border: none;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
}

.scores {
    display: inline-block;
    padding: 25px;
}

/* --------- Buttons */

.btn {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

.btn--big::after {
	content: attr(data-type);
	font-size: 1rem;
	color: #445361;
	position: relative;
	left: -0.5em;
}

.btn--blue {
    border-color: blue;
    color: blue;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: darkblue;
    color: white;
}

.btn--orange {
    border-color: orange;
    color: orange;
}

.btn--orange:active,
.btn--orange:hover {
    background-color: darkorange;
    color: white;
}

.btn--red {
    border-color: red;
    color: red;
}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
}

.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}

.btn--gray {
    margin-top: 25px;
    margin-left: 40%;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 20px;
    
    
}

.btn--gray:active,
.btn--gray:hover {
    background-color: #0d1013;
}

/* --------- Media queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }

    .btn--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .question-area {
        padding: 10% 0;
        width: 100%;
    }

    .question-area span {
        padding: 0;
    }

    .answer-message {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }
    .btn--gray {
        margin-top: 0;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

/* Contact form page */

/* Form */

.form-section {
    clear: left;
    background: url('../images/ppt-image.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 100px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 500px;
    position: absolute;
    left: 1%;
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .btn--big {
        margin: 10px 10px;
    }
    .question-area {
        padding: 10px 0;
    }

}

/* English page */

#quiz-container {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
   
}

.box-quiz {
    width: 215px;
    height: 215px;
    margin-top: 10px;
    margin-left: 30px;
    background-color: rgba(53, 177, 164, 0.37);
    display: inline-block;
}

.box-quiz h2 {
    text-align: center;
}



